<% content_for :title, "Showing invoice" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing invoice</h1>

  <%= render @invoice %>

  <%= link_to "Edit this invoice", edit_company_invoice_path(@company, @invoice), class: "btn btn-primary" %>
  <%= link_to "Back to invoices", company_path(@company), class: "btn btn-secondary" %>
  <%= button_to company_invoice_path(@company, @invoice),
                method: :delete,
                form_class: "inline-block",
                class: "btn btn-error rounded",
                data: { turbo_confirm: "Confirmer la suppression définitive ?" } do %>
    Destroy this invoice
  <% end %></div>
