<%= form_with(model: company, class: "contents") do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul class="list-disc ml-6">
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": company.errors[:name].none?, "border-red-400 focus:outline-red-600": company.errors[:name].any? }] %>
  </div>

  <div class="my-5">
    <%= form.label :siret %>
    <%= form.number_field :siret, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": company.errors[:siret].none?, "border-red-400 focus:outline-red-600": company.errors[:siret].any? }] %>
  </div>

  <div class="my-5">
    <%= form.label :siren %>
    <%= form.number_field :siren, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": company.errors[:siren].none?, "border-red-400 focus:outline-red-600": company.errors[:siren].any? }] %>
  </div>

  <div class="my-5">
    <%= form.label :vat_number %>
    <%= form.text_field :vat_number, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": company.errors[:vat_number].none?, "border-red-400 focus:outline-red-600": company.errors[:vat_number].any? }] %>
  </div>

  <div class="inline">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
